/* line 1, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-search {
  background: url(images/baseinfo/ico.png) no-repeat 2px -330px !important;
}

/* line 2, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-add {
  background: url(images/baseinfo/ico.png) no-repeat 2px -357px !important;
}

/* line 3, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-update {
  background: url(images/baseinfo/ico.png) no-repeat 2px -384px !important;
}

/* line 4, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-remove {
  background: url(images/baseinfo/ico.png) no-repeat 2px -412px !important;
}

/* line 5, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-reset {
  background: url(images/baseinfo/ico.png) no-repeat 2px -506px !important;
}

/* line 6, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-previous {
  background: url(images/baseinfo/ico.png) no-repeat 2px -562px !important;
}

/* line 7, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-next {
  background: url(images/baseinfo/ico.png) no-repeat 2px -535px !important;
}

/* line 8, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-download {
  background: url(images/baseinfo/ico.png) no-repeat 1px -590px !important;
}

/* line 9, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-export {
  background: url(images/baseinfo/ico.png) no-repeat 1px -610px !important;
}

/* line 10, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-view {
  background: url(images/baseinfo/ico.png) no-repeat 1px -636px !important;
}

/* line 11, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-print {
  background: url(images/baseinfo/ico.png) no-repeat 1px -658px !important;
}

/* line 12, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-reset {
  background: url(images/baseinfo/ico.png) no-repeat 1px -684px !important;
}

/* line 13, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-examine {
  background: url(images/baseinfo/ico.png) no-repeat 1px -710px !important;
}

/* line 14, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-save {
  background: url(images/baseinfo/ico.png) no-repeat 1px -736px !important;
}

/* line 15, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-sign {
  background: url(images/baseinfo/ico.png) no-repeat 1px -762px !important;
}

/* line 16, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-serch-blue {
  background: url(images/baseinfo/ico.png) no-repeat 1px -788px !important;
}

/* line 17, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-icon-base {
  background: url(images/baseinfo/ico.png) no-repeat 1px -814px !important;
}

/* line 18, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-opinion {
  background: url(images/baseinfo/ico.png) no-repeat 1px -840px !important;
}

/* line 19, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-step {
  background: url(images/baseinfo/ico.png) no-repeat 1px -866px !important;
}

/* line 20, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-upload {
  background: url(images/baseinfo/ico.png) no-repeat 1px -892px !important;
}

/* line 21, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-ok {
  background: url(images/baseinfo/ico.png) no-repeat 1px -918px !important;
}

/* line 22, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-do {
  background: url(images/baseinfo/ico.png) no-repeat 1px -944px !important;
}

/* line 23, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-back {
  background: url(images/baseinfo/ico.png) no-repeat 1px -970px !important;
}

/* line 24, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-receipt {
  background: url(images/baseinfo/ico.png) no-repeat 1px -996px !important;
}

/* line 25, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-do_1 {
  background: url(images/baseinfo/ico.png) no-repeat 1px -1022px !important;
}

/* line 26, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-save_1 {
  background: url(images/baseinfo/ico.png) no-repeat 1px -1048px !important;
}

/* line 27, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-down {
  background: url(images/baseinfo/ico.png) no-repeat 1px -1074px !important;
}

/* line 28, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-assess {
  background: url(images/baseinfo/ico.png) no-repeat 1px -1100px !important;
}

/* line 29, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-input {
  background: url(images/baseinfo/ico.png) no-repeat 1px -1126px !important;
}

/* line 30, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-run {
  background: url(images/baseinfo/ico.png) no-repeat 1px -1152px !important;
}

/* line 31, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-revert {
  background: url(images/baseinfo/ico.png) no-repeat 1px -1178px !important;
}

/* line 32, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-link {
  background: url(images/baseinfo/ico.png) no-repeat 1px -1204px !important;
}

/* line 33, ../../../ext-theme-default/sass/src/baseinfo/Icon.scss */
.icon-set {
  background: url(images/baseinfo/ico.png) no-repeat 1px -1230px !important;
}