@charset "utf-8";
@import url("base.css");
@import url("module_style.css");

html, body {
	background:#ddd url(../img/login_bg.png) no-repeat center 140px;
}


.logo_box {
	padding-top:60px;
	padding-bottom:35px;
	text-align:center;
}


.form_box {
	width:400px;
	height:500px;
	background:#fff;
	margin:0 auto;
	position:relative;
	border-radius:12px;
}
.form_box h4 {
	font-size:30px;
	color:#058BCF/*#3fb564*/;
	text-align:center;
	padding-top:32px;
	line-height:38px;
	font-weight:100;
}

.form_box .user_face {
	text-align:center;
	padding:35px 0 25px;
}


.form_box .formbox_form {
	font-size:14px;
	color:#22a594;
	line-height:20px;
}

.formbox_form p {
	margin-bottom:22px;
	padding:0 50px;
}
.formbox_form p input.input {
	width:100%;
	border:0;
	border-bottom:1px solid #ccc;
	text-align:center;
	padding:9px 0;
	color:#666;
}
.formbox_form p input.input:focus {
}


.formbox_form p.remember {
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.formbox_form p.remember a {
	display:inline-block;
	padding-left:24px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	background:url(../img/login_rico2.png) no-repeat 0 0;
	margin-right:20px;
	color:#888;
}
.formbox_form p.remember a.current {
	background:url(../img/login_rico2.png) no-repeat 0 -20px;
}

.formbox_form p.form_error {
	color:red;
	font-size:12px;
	font-weight:100;
	position:relative;
	top:2px;
	margin-left:12px;
	text-align:center;
	line-height:20px;
	height:20px;
	padding:0;
	margin:25px 0 5px;
}



.formbox_form p.btns_login_p {
	text-align:center;
	padding-top:10px;
}
a.btns_login {
	font-size:18px;
	color:#058BCF;
	line-height:45px;
	padding:0 45px;
	display:inline-block;
	border:2px solid #058BCF;
}
a.btns_login:hover {
	color:#fff;
	background:#058BCF;
}















